html {
  background-color: #ffffff;
  }
  
h1 {
  color: #000080;
  font-size:1.5em;
  position:static;
  text-align: center;
   }

#address{
  position:static;
  text-align:center;
  padding-bottom:15px;
 
}

#address>span{
  display:block;
}

.border{
  border-bottom:1px solid black;
  position:static;
  clear: both;
  width:100%;
  height:1px;
  background-color:black;
}   
h1 span{
   font-size:3em;
 }
 
 
 span {
   color: #000080;
 }
 
 a:link {
   color: #800080;
 }
 
a.visited {
  color: #ff0000;
}
#div1 {
  float: left;
  width: 50%;
}

#div2 {
  float: right;
  width: 50%;
}
li>span {
  color: black;
  font-size: 0.75em;
}
div p span {
  display:block;
  position: static;
  text-align: center;
}

div p img {
  display: block;
  position: static;
  text-align: center;

}